####################
# configuration file

seed = -1



###################
# detector geometry
chamfer   = 2.5   # in [mm]
# module_xy = 19    # in [mm]
module_xy = 5    # in [mm]
#nLayers_z = 2    # number of shashlik layers
nLayers_z = 28    # number of shashlik layers

abs_material = 3   # absorber material: 1) Brass 2) Tungsten alloy 3) Lead 4) Iron 5) Aluminium
abs_d        = 4   # absorbber thickness in [mm]



#########################
# scintillator properties

crystal_material      =  2   # scintillating material: 1) LSO 2) LYSO 3) LuAG:Ce 4) LuAG:Pr 5) PbWO 6)Air 7)Quartz
crystal_lightyield    =  100   # light yield 1/MeV (set to -1 for material default)
#crystal_lightyield    = -1   # light yield 1/MeV (set to -1 for material default)
crystal_risetime      = -1   # sc. rise time in ns (set to -1 for material default)
crystal_abslength     = -1   # crystal absorption length in mm (set to -1 for material default)
crystal_ind_abslength =  1   # induced abs length at 535 nm for LuAG (m)
crystal_d             =  2   # crystal thickness in [mm]



################
# fiber geometry
fiberCore_material = 2      # 1) Quartz 2) SiO2:Ce 3) DSB:Ce
fiberCore_radius   = 0.05   # in [mm]
fiberClad_material = 1      # 1) Quartz 2) SiO2:Ce 3) DSB:Ce
fiberClad_radius   = 0.10   # in [mm]



#######
# other
depth = 0.001   # thin layer in [mm]
